body{
    margin: 0;
    font-family: 'Spinnaker', sans-serif;
    color: black;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("https://www.jastrzebie.pl/fileadmin/_processed_/c/8/csm_Jesien__20__eacab56d16.jpg");
    background-size: cover;
    height: 300px;
}
header h1{
    color: white;
    background-color: #251F47;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}
header h2{
    color: white;
    background-color: #404E7C;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    text-align: center;
}
main{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 75px;
    background-color: #86CB92;
    }
main > div{
    width: 400px;
    padding: 0px 20px 0px 20px;
}

.imgColumn{
    border-radius:50%;
    width: 100px;
    height: 100px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer-card{
    width: 700px;
    height: 200px;
    background-color: #404E7C;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border-bottom: 5px solid black;
    color: white;
    margin: 20px;
}
#logo{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}